body {
    background-color: cadetblue;
}

#myContainer {
    position: relative;
}

#leftFistShake {
    position: absolute;
}

#rightFistShake {
    /*position: absolute; */
    padding-left: 20px;
    float:right;
};

/*Animate and shake move
========================*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
@keyframes shake {
    0%,
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
}

.shake {
    -webkit-animation: shake 1s 2;
    -moz-animation: shake 1s 2;
    -ms-animation: shake 1s 2;
    animation: shake 1s 2;
}

/* Styling open fist weapons
=============================*/
.rock {

}

/* .paper {
    height:110px;
    width: 110px;

} */
.small {
    max-height: 150px;
}
 .scissors {

 }


